# Node.js
node_modules/
*.log
package-lock.json
yarn.lock

# Environment Variables
.env

# Python
*.py[cod]
__pycache__/
myvenv/
*.pkl

# CSV files (if you don't want to track these data files)
comments.csv

# Vite (Frontend)
.vite

# Frontend specific
Frontend/node_modules/
Frontend/.env.local
Frontend/.env.*
Frontend/.vite

# Dist and Build files
/dist
/build

# VSCode settings (optional)
.vscode/

# Miscellaneous
.DS_Store
Thumbs.db
